parameters:
    level: 1
    paths:
        - src/php
    excludes_analyse:
        - src/templates/*
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#does not call parent constructor from Kore\\DataObject\\DataObject.#'
    reportUnmatchedIgnoredErrors: false
